<div id="start-content" class="tab-content" tabindex="-1">
    <div class="layer">
        <span class="header">Cabinet Layer: 2</span>

        <script type="text/javascript">
            $(document).ready(function () {
                function toggleCabinetImage(item) {
                    item.attr("src", "img/cabin-closed.png");
                    item.next().text("Durum: ?");
                }

                $("div.cabinet-object").on("click", "img", function () {
                    var id = $(this).parent().attr("id").replace("cab-", "");
                    windowsApp.openDrawer(id);

                    $(this).attr("src", "img/cabin-open.png");
                    $(this).next().text("Durum: Açık");
                    setTimeout(toggleCabinetImage, 1000, $(this));
                });
            });

        </script>
        <div class="charge-layer">
            <div id="cab-9" class="cabinet-object">
                <span class="header">Cabinet: 9</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-10" class="cabinet-object">
                <span class="header">Cabinet: 10</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-11" class="cabinet-object">
                <span class="header">Cabinet: 11</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-12" class="cabinet-object">
                <span class="header">Cabinet: 12</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-13" class="cabinet-object">
                <span class="header">Cabinet: 13</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-14" class="cabinet-object">
                <span class="header">Cabinet: 14</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-15" class="cabinet-object">
                <span class="header">Cabinet: 15</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-16" class="cabinet-object">
                <span class="header">Cabinet: 16</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
        </div>
    </div>
    <div class="layer">
        <span class="header">Cabinet Layer: 1</span>
        <div class="charge-layer">
            <div id="cab-1" class="cabinet-object">
                <span class="header">Cabinet: 1</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-2" class="cabinet-object">
                <span class="header">Cabinet: 2</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-3" class="cabinet-object">
                <span class="header">Cabinet: 3</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-4" class="cabinet-object">
                <span class="header">Cabinet: 4</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-5" class="cabinet-object">
                <span class="header">Cabinet: 5</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-6" class="cabinet-object">
                <span class="header">Cabinet: 6</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-7" class="cabinet-object">
                <span class="header">Cabinet: 7</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div id="cab-8" class="cabinet-object">
                <span class="header">Cabinet: 8</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
        </div>
    </div>
    <div class="layer">
        <span class="header">USB Layer: 2</span>
        <div class="charge-layer">
            <div class="charge-object" id="usb-9">
                <span class="header">USB: 9</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-9">
                    <label for="toggle-9"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-10">
                <span class="header">USB: 10</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-10">
                    <label for="toggle-10"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-11">
                <span class="header">USB: 11</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-11">
                    <label for="toggle-11"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-12">
                <span class="header">USB: 12</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-12">
                    <label for="toggle-12"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-13">
                <span class="header">USB: 13</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-13">
                    <label for="toggle-13"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-14">
                <span class="header">USB: 14</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-14">
                    <label for="toggle-14"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-15">
                <span class="header">USB: 15</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-15">
                    <label for="toggle-15"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-16">
                <span class="header">USB: 16</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-16">
                    <label for="toggle-16"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
        </div>
    </div>
    <div class="layer">
        <span class="header">USB Layer: 1</span>
        <div class="charge-layer">
            <div class="charge-object" id="usb-1">
                <span class="header">USB: 1</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-1">
                    <label for="toggle-1"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-2">
                <span class="header">USB: 2</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-2">
                    <label for="toggle-2"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-3">
                <span class="header">USB: 3</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-3">
                    <label for="toggle-3"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-4">
                <span class="header">USB: 4</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-4">
                    <label for="toggle-4"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-5">
                <span class="header">USB: 5</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-5">
                    <label for="toggle-5"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-6">
                <span class="header">USB: 6</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-6">
                    <label for="toggle-6"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-7">
                <span class="header">USB: 7</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-7">
                    <label for="toggle-7"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
            <div class="charge-object" id="usb-8">
                <span class="header">USB: 8</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />

                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-8">
                    <label for="toggle-8"></label>
                </div>
                <span class="state">Durum: Kapalı</span>
                <span class="connection">Bağlantı: Yok</span>
                <span class="period">Kalan: ?</span>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.switch').click(function () {
            $(this).toggleClass("switchOn");
        });
    });
</script>