<div id="start-content" class="tab-content" tabindex="-1">
    <div class="layer">
        <span class="header">Cabinet Layer: 1</span>
        <div class="charge-layer">
            <div class="charge-object">
                <span class="header">Cabinet: 1</span>
                <img src="img/cabin-closed.png" />
                <span class="state">Durum: ?</span>
            </div>
            <div class="charge-object">
                <span class="header">Cabinet: 2</span>
                <img src="img/cabin-open.png" />
                <span class="state">Durum: ?</span>
            </div>
        </div>
    </div>
    <div class="layer">
        <span class="header">USB Layer: 2</span>
        <div class="charge-layer">
            <div class="charge-object">
                <span class="header">USB: 9</span>
                <div class="charge-backlay"></div>
                <img src="img/battery-template.png" />
                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 10</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 11</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 12</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 13</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 14</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 15</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 16</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
        </div>
    </div>
    <div class="layer">
        <span class="header">USB Layer: 1</span>
        <div class="charge-layer">
            <div class="charge-object">
                <span class="header">USB: 1</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 2</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 3</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 4</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 5</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 6</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 7</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
            <div class="charge-object">
                <span class="header">USB: 8</span>
                <img src="img/battery-template.png" />

                <span class="state">Durum: Aktif</span>
                <span class="connection">Bağlantı: Var</span>
                <span class="period">Kalan: 10dk</span>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.switch').click(function () {
            $(this).toggleClass("switchOn");
        });
    });
</script>