<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Anasayfa</title>
    <link rel="stylesheet" href="css/main.css" media="all" type="text/css" />
    <link rel="stylesheet" href="css/wan-spinner.css" media="all" type="text/css" />
    <script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="js/sys-menu.js"></script>
    <script type="text/javascript" src="js/tabbed-mdi.js"></script>
    <script type="text/javascript" src="js/wan-spinner.js"></script>
</head>
<body>
    <div class="top">
        <div class="title"><img src="img/chargebox-logo.png" title="Anasayfa" />ChargeBox - Version 0.0.3</div>
        <ul class="menu">
            <li id="file-member" class="sys-menu-member">DOSYA</li>
            <li id="edit-member" class="sys-menu-member">DÜZENLE</li>
            <li id="tools-member" class="sys-menu-member">ARAÇLAR</li>
            <li id="settings-member" class="sys-menu-member">AYARLAR</li>
            <li id="help-member" class="sys-menu-member">YARDIM</li>
        </ul>
        <div class="control">
            <div class="minimize"></div>
            <div class="maximize"></div>
            <div class="close"></div>
        </div>
        <div class="connection">
            <img src="img/connected.png" /> [<span id="port">COM</span>: <span id="status">Bağlandı</span>] <input type="button" value="Çıkış" />
        </div>
    </div>
    <div class="spacer"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                maxValue: 255,
                minValue: 1,
                inputWidth: 35,
                start: 1,
                valueChanged: function (val) {
                    
                }
            }
            $(".wan-spinner-1").WanSpinner(options);

            $("div.connection input[type='button']").on("click", function (e) {
                windowsApp.disconnect();
            });

            $("div.menu-btn").on("click", function (e) {
                var bID = $(this).attr('id').replace('menu-', "");
                $("div#pop-" + bID).slideToggle("fast");
            });

            getPage("start");

            setTimeout(function () {
                $("div.menu-btn").trigger("click");
                $("div.tab-content").attr("tabindex", "-1").focus();
            }, 1000);
        });

    </script>
    <div class="left-bar">
        <div id="menu-1" class="menu-btn">MAINBOARD <img src="img/control-board.png" /></div>
        <div id="pop-1" class="menu-pop">
            <div class="bar-h">
                Serial: <span id="serial-cb">?</span>
            </div>
            <div class="bar-h">
                TokenMax[1]: <span id="tokenmax1-cb">?</span>
            </div>
            <div class="bar-h">
                TokenMax[2]: <span id="tokenmax2-cb">?</span>
            </div>
            <div class="bar-h">
                TokenTotal[1]: <span id="tokentotal1-cb">?</span>
            </div>
            <div class="bar-h">
                TokenTotal[2]: <span id="tokentotal2-cb">?</span>
            </div>
            <div class="bar-h">
                AwaitInterval: <span id="awaitinterval-cb">?</span>
            </div>
            <div class="bar-h">
                ChargePeriod: <span id="chargeperiod-cb">?</span>
            </div>
            <div class="bar-h">
                Factory: <span id="factory-cb">?</span>
            </div>

            <div class="ajax" id="control-ajax"></div>
        </div>
        <div id="menu-2" class="menu-btn">SETTINGS <img src="img/settings-icon.png" /></div>
        <div id="pop-2" class="menu-pop">
            <div class="header">BOARD SETTINGS</div>
            <div class="row">
                <span>Token Max[1]:</span>
                <div class="wan-spinner wan-spinner-1">
                    <b class="minus">-</b>
                    <input type="text" value="1">
                    <b class="plus">+</b>
                </div>
            </div>
            <div class="row">
                <span>Token Max[2]:</span>
                <div class="wan-spinner wan-spinner-1">
                    <b class="minus">-</b>
                    <input type="text" value="1">
                    <b class="plus">+</b>
                </div>
            </div>
            <div class="row">
                <span>Charge Period:</span>
                <div class="wan-spinner wan-spinner-1">
                    <b class="minus">-</b>
                    <input type="text" value="1">
                    <b class="plus">+</b>
                </div>
            </div>
            <div class="row">
                <span>Await Interval:</span>
                <div class="wan-spinner wan-spinner-1">
                    <b class="minus">-</b>
                    <input type="text" value="1">
                    <b class="plus">+</b>
                </div>
            </div>
            <div class="row">
                <span>Manual Mode:</span>
                <div class="check-btn">
                    <input type="checkbox" class="toggle" id="toggle-8">
                    <label for="toggle-8"></label>
                </div>
            </div>
            <div class="row"></div>
            <div class="row"><div class="ref-all-btn">APPLY</div></div>
        </div>
    </div>
    <div class="main-bar">
        <div class="tabs">
        </div>
        <div id="content" class="content">
        </div>
    </div>
    <div class="right-bar">
        <div id="menu-3" class="menu-btn">TOUCH UI <img src="img/touch.png" /></div>
        <div id="pop-3" class="menu-pop">
            <div class="header">TOUCH CONTROL</div>
            <div class="joystick-h">
                <div class="rect-holder">
                    <div id="up-bore-btn" class="rect-btn upper-left"></div>
                    <div id="up-plasma-btn" class="rect-btn upper-right"></div>
                    <div id="down-bore-btn" class="rect-btn down-left"></div>
                    <div id="down-plasma-btn" class="rect-btn down-right"></div>

                    <div class="hor-seperator"></div>
                    <div class="ver-seperator"></div>
                </div>
                <div class="fake-circle"></div>
                <div class="touch-h">
                    <div id="forward-btn" class="touch top-touch"><div class="arrow"></div></div>
                    <div id="right-bore-btn" class="touch right-touch"><div class="arrow"></div></div>
                    <div id="backward-btn" class="touch bottom-touch"><div class="arrow"></div></div>
                    <div id="left-bore-btn" class="touch left-touch"><div class="arrow"></div></div>
                    <div class="hover-circle"></div>
                    <div class="base-circle">
                        <div id="right-plasma-btn" class="inner-touch inner-left-touch">
                        </div>
                        <div id="left-plasma-btn" class="inner-touch inner-right-touch">
                        </div>
                        <div class="inner-base-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('div.minimize').click(function (e) {
                windowsApp.minimizeWindowState();
            });

            $('div.maximize').click(function (e) {
                var result = windowsApp.toggleWindowState();
                if (result == true)
                    $(this).addClass("restore");
                else
                    $(this).removeClass("restore");
            });

            $('div.close').click(function (e) {
                windowsApp.exit();
            });

            $(".sys-menu-member").on("click", function (e) {
                if (!$(this).hasClass("sys-mm-active"))
                    $("li.sys-menu-member").removeClass("sys-mm-active");

                var id = $(this).attr("id").replace("-member", "");

                var x = +$(this).offset().left;
                var y = +$(this).offset().top + parseInt($(this).css("height")) - 1;

                var selector = "ul#" + id + "-pop";

                $("ul.sys-menu-pop").each(function () {
                    if ($(this).attr("id") != selector.replace("ul#", ""))
                        $(this).hide();
                });

                $(this).toggleClass("sys-mm-active");
                $(selector).css("left", x).css("top", y).toggle();
            });

            $(window).on("click", function (e) {
                if (!e.target.matches(".sys-menu-member")) {
                    $("ul.sys-menu-pop").hide();
                    $("li.sys-menu-member").removeClass("sys-mm-active");
                }
            });
        });

    </script>

    <ul class="sys-menu-pop" id="file-pop">
        <li><img src="img/close.png" /> Add</li>
        <li><img src="img/open.png" /> Open</li>
        <li><img src="img/save-icon.png" /> Save</li>
        <li><img src="img/save-as.png" />Save As</li>
        <li>Export Project</li>
        <li>Import Project</li>
        <li>Browse with..</li>
        <li id="exit-item"><img src="img/close.png" /> Exit</li>
    </ul>
    <ul class="sys-menu-pop" id="edit-pop">
        <li><img src="img/close.png" /> Add</li>
        <li>Open</li>
        <li>Advanced</li>
        <li>Bookmarks</li>
        <li>System</li>
        <li><img src="img/close.png" /> Exit</li>
    </ul>
    <ul class="sys-menu-pop" id="tools-pop">
        <li><img src="img/close.png" /> Add</li>
        <li>Open</li>
        <li><img src="img/close.png" /> Exit</li>
    </ul>
    <ul class="sys-menu-pop" id="settings-pop">
        <li><img src="img/close.png" /> Add</li>
        <li>Open</li>
        <li id="connections-item">Bağlantı</li>
    </ul>
    <ul class="sys-menu-pop" id="help-pop">
        <li><img src="img/close.png" /> About Us </li>
        <li>Contact</li>
        <li><img src="img/close.png" /> Info</li>
        <li><img src="img/close.png" /> Technical Support</li>
        <li><img src="img/close.png" /> About Turcam Studio</li>
    </ul>


    <div class="footer">
        <div class="footer-line"></div>
        <div class="status-bar">Ready</div>
    </div>
</body>
</html>